<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    {{ message }}
  </div>
  <div id="app2">
    <span v-bind:title="message">
      내 위에 마우스를 올리면 동적으로 바인딩된 title을 볼 수 있습니다.
    </span>
  </div>
  <div id="app3">
    <p v-if="seen">이제 나를 볼 수 있어요!</p>
  </div>
  <div id="app4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>
  <div id="app5">
    <p>{{ message }} </p>
    <button v-on:click="reverseMessage">메시지 뒤집기</button>
  </div>
  <div id="app6">
    <p>{{ message }} </p>
    <input v-model="message">
  </div>
  <div id="app7">
    <ul>
      <li v-for="(subject, index) in subjects">{{ index+1 }} : {{ subject }}</li>
    </ul>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el : "#app",
      data : {
        message : "안녕하세요! Vue",
      }
    })
    const app2 = new Vue({
      el : "#app2",
      data : {
        message : '이 페이지는' + new Date() + '에 로드되었습니다.'
      }
    })
    const app3 = new Vue({
      el : "#app3",
      data : {
        seen : true //false 일 경우, 나타나지 않음!
      }
    })
    const app4 = new Vue ({
      el : '#app4',
      data : {
        todos : [
          { text : 'JS 공부'},
          { text : 'Vue 복습'},
          { text : ' 개인 PJT 진행 '}
        ]
      }
    })
    const app5 = new Vue({
      el : "#app5",
      data : {
        message : 'Hello! Vue'
      },
      methods : {
        reverseMessage : function(){
          this.message = this.message.split('').reverse().join('')
        }
      }
    })
    const app6 = new Vue({
      el : "#app6",
      data : {
        message : 'HI! Vue'
      }
    })
    const app7 = new Vue({
      el : '#app7',
      data:{
        subjects : [
          'Python',
          'Django',
          'JavaScript',
          'React',
          'Vue.js'
        ]
      }
    })
  </script>
</body>
</html>